.container {
    height: 88%;
}

input {
    outline: none;
    border: none;
}

.formBlock {
    width: 500px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    height: 518px;
    position: absolute;
    left: calc(50% - 215px);
    top: 164px;
    box-shadow: 0px 8px 32px rgba(49, 54, 60, 0.3);
}

.formBlock > form {
    height: 100%;
    width: 350px;
    margin: auto;
}

.inputWrapper {
    position: relative;
    left: 45px;
    border-bottom: 2px solid #adadad;
    width: 260px;
    font-family: "Montserrat";
    font-weight: 200;
    color: #31363c;
}

.inputText:focus ~ .floatingLabel,
.inputText:not(:focus):valid ~ .floatingLabel {
    top: -18px;
    bottom: 10px;
    left: 0px;
    opacity: 1;
}

.inputText {
    font-size: 14px;
    width: 100%;
    height: 35px;
}

.floatingLabel {
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 13px;
    transition: 0.2s ease all;
    color: #adadad;
}

.formLabel {
    text-align: center;
}

.formLabel > p {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.formLabel > img {
    border-radius: 12px;
    color: #31363c;
}

.loginWrapper {
    top: 48px;
}

.passwordWrapper {
    top: 76px;
}

.error {
    position: relative;
    top: 100px;
}

.error > p {
    width: 260px;
    color: red;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: normal;
    margin: auto;
}

.forgotPasswordButton {
    appearance: none;
    background: 0 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    padding-bottom: 24px;
    text-align: left;
    text-transform: inherit;
    text-overflow: ellipsis;
    user-select: none;
    width: auto;
    color: rgb(155, 155, 155);
    position: relative;
    font-size: 12px;
    font-weight: 300;
    font-family: "Montserrat";
}
