.container {
    height: 45px;
}

.container > img {
    margin-top: 16px;
    margin-left: 32px;
}

.like:hover {
    cursor: pointer;
}

.likeClickActive {
    -webkit-animation: pulse 1s ease-in-out;
    -moz-animation: pulse 1s ease-in-out;
    -o-animation: pulse 1s ease-in-out;
    animation: pulse 1s ease-in-out;
}

@-webkit-keyframes pulse { from { transform: scale(1); } 50% { transform: scale(1.15); } to { transform: scale(1); }  }
   @-moz-keyframes pulse { from { transform: scale(1); } 50% { transform: scale(1.15); } to { transform: scale(1); }  }
     @-o-keyframes pulse { from { transform: scale(1); } 50% { transform: scale(1.15); } to { transform: scale(1); }  }
        @keyframes pulse { from { transform: scale(1); } 50% { transform: scale(1.15); } to { transform: scale(1); }  }
