.box {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: space-between;
}

.likeClickActive {
    -webkit-animation: pulse 1s ease-in-out;
    -moz-animation: pulse 1s ease-in-out;
    -o-animation: pulse 1s ease-in-out;
    animation: pulse 1s ease-in-out;
}

.like:hover {
    cursor: pointer;
}

.userLink > a {
    text-decoration: none;
    color: rgb(49, 54, 60);
}

.userLink > a:visited {
    color: rgb(49, 54, 60);
}

.commentsBlock {
    height: auto;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: normal;
    color: rgb(49, 54, 60);
}

.commentsBlock span {
    font-family: "Montserrat";
    font-weight: 300;
}

.commentsBlock > p {
    padding-left: 0px;
    padding-right: 16px;
}

@-webkit-keyframes pulse { from { transform: scale(1); } 50% { transform: scale(1.15); } to { transform: scale(1); }  }
   @-moz-keyframes pulse { from { transform: scale(1); } 50% { transform: scale(1.15); } to { transform: scale(1); }  }
     @-o-keyframes pulse { from { transform: scale(1); } 50% { transform: scale(1.15); } to { transform: scale(1); }  }
        @keyframes pulse { from { transform: scale(1); } 50% { transform: scale(1.15); } to { transform: scale(1); }  }
