.inputField {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 12px;
    height: 150px;
    background-color: rgb(246, 247, 249);
    border-radius: 4px;
}

.textArea {
    background: 0 0;
    border: 0;
    color: #31363c;
    display: relative;
    outline: 0;
    padding: 0;
    resize: none;
    font-size: 12px;
    font-weight: normal;
    height: calc(100% - 32px);
    width: calc(100% - 32px);
    margin: 16px 16px;
}

.textArea:disabled {
    opacity: 0.3;
    pointer-events: none;
}

.textArea::placeholder, .textArea:focus::placeholder {
    color: #adafb1;
    font-weight: bold;
    font-family: "Montserrat";
}
