.box {
    margin-top: 24px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

.common {
    /* make equal width for items */
    margin-right: 12px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    /* common style */
    clear: both;
    height: 50px;
    border: 2px solid rgb(253, 87, 57);
    border-radius: 12px;
    font-family: "Montserrat";
    font-weight: 300;
    text-align: center;
    color: white;
    font-size: 16px;
}

.common:hover {
    cursor: pointer;
}

.unselected {
    background-color: rgb(253, 87, 57);
}

.selected {
}

.selected img {
    position: relative;
    margin-left: 8px;
}
