.container {
    width: 345px;
    height: auto;
    margin: auto;
}

.searchResultExternal {
    margin-top: 10px;
    position: absolute;
    left: 30%;
    z-index: 250;
}

.searchResultExternal:hover {
    display: block !important;
}