.container {
    /* height: 84px; */
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
    align-items: center;
}

.iconWithInfoContainer {
    display: flex;
    justify-content: start;
    height: 100%;
    align-items: center;
}

.userIcon {
    /* for an unknown reason, css automatically adds padding-bottom = 4px for icon, so to fix it I added padding-top ¯\_(ツ)_/¯ */
    padding-top: 4px;
    border-radius: 50%;
    float: left;
}

.userIcon img {
    border-radius: 50%;
    object-fit: cover;
}

.userInfo {
    color: #31363c;
    font-size: 14px;
    float: left;
    padding-left: 16px;
}

.userInfo > span:last-child {
    font-family: "Montserrat";
    font-weight: normal;
}

.userInfo > span:first-child {
    font-family: "Montserrat";
    font-weight: 300;
}

.date {
    margin-left: auto;
    float: right;
    width: 150px;
    height: 100%;
    text-align: right;
    color: #31363c;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 100;
}

.userLink > a {
    text-decoration: none;
    color: #31363c;
}

.userLink > a:visited {
    color: #31363c;
}
