.container {
    margin-top: 90px;
    max-width: 790px;
    min-width: 650px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.userBlock {
    height: 225px;
}

.loader {
    padding-top: 35px;
}

.tabsExternal {
    position: relative;
    max-width: 790px;
    min-width: 650px;
    margin: auto;
    display: block;
    padding: 0;
}

.bannerExternal {
    margin: auto;
}

.tabDataContainer {
    margin-top: 30px;
}

.movieBlockExternal {
    float: left;
}

.moviesContainer {
    height: 280px;
}

.tabMovies {
    margin-top: 70px !important;
}