.dividerContainer {
    display: flex;
}

.dividerLine {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: rgb(216, 216, 216);
    height: 1px;
    position: relative;
    margin: auto;
}

.sortContainer:hover {
    cursor: pointer;
}

.sortContainer div {
    float: left;
    width: 260px;
    height: 44px;
    border-radius: 8px;
    background-color: white;
    margin-right: 20px;
    box-shadow: 2px 8px 16px 0px rgba(105, 105, 105, 0.3);
}

.sortContainer div > p {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    float: left;
    margin-left: 16px;
    margin-top: 13px;
    margin-bottom: 0px;
    color: rgb(49, 54, 60);
}
.sortContainer div > img {
    float: right;
    margin-top: 19px;
    margin-right: 16px;
}

.dropdownContent {
  display: flex;
  flex-flow: row;
  position: relative;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0px 16px 24px 0px rgba(161, 164, 184, 0.35);
}

.dropdownContent p {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    padding: 16px 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    display: block;
    color: rgb(49, 54, 60);
}

.dropdownContent img {
    float: right;
    margin: auto;
}

.dropdownContent:first-child {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.dropdownContent:last-child {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

.menuItemTitle {
    color: rgb(49, 54, 60);
}

.sortDropdown {
    min-width: 284px;
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 52px;
    margin-left: 0px;
    border-radius: 6px !important;
    padding-left: 0px;
    background-color: none;
}
.sortContainer div:hover .sortDropdown {
    display: block;
}

.sortContainer:hover .sortDropdown {
    display: block;
}

.sortDropdown li {
    display: flex;
}

.sortDropdown li:hover {
    background: rgb(250, 233, 227);
}
