.container {
    height: 340px;
    width: 80%;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.container > img {
    margin-top: 43px;
}

.container p {
    color: rgb(49, 54, 60);
}

.container > p:first-of-type {
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 300;
}

.container > p:last-of-type {
    font-size: 18px;
    font-family: "Montserra";
    font-weight: normal;
}
