.container {
    height: 225px;
}

.userIconBlock {
    float: left;
    width: 260px;
    height: 100%;
}

.userIconBlock > div {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 3px solid #e6e6e6;
    margin-left: 35px;
}

.userIconBlock > div > div{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover!important;
}

.userInfoBlock {
    height: 100%;
    margin-left: 290px;
    color: rgb(49, 54, 60);
}

.userCounters {
    margin-top: 50px;
}

.userCounters div {
    float: left;
    width: 140px;
    height: 60px;
    border-radius: 8px;
    background-color: white;
    margin-right: 20px;
    box-shadow: 2px 8px 16px 0px rgba(105, 105, 105, 0.3);
}

.userCounters div > p:first-of-type {
    font-family: "Montserrat";
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 9px;
    margin-left: 13px;
    font-size: 20px;
    text-align: left;
    float: left;
    width: 95px;
}

.userCounters div > p:last-of-type {
    font-size: 16px;
    margin: 0px;
    margin-left: 13px;
    font-family: "Montserrat";
    font-weight: normal;
    text-align: left;
    float: left;
}

.userCounters div > img {
    float: right;
    margin-top: -15px;
    margin-right: -5px;
}

.userCounters > a {
    text-decoration: none;
    color: rgb(49, 54, 60);
}

.userCounters > a:visited {
    color: rgb(49, 54, 60);
}

.login {
    font-size: 30px;
    font-family: "Montserrat";
    font-weight: 300;
    margin-bottom: 0px;
    margin-top: 0px;
    float: left;
}

.userName {
    margin-top: 5px;
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: normal;
}

.buttonFollowExternal {
    float: left;
    margin-left: 20px;
}

.userInfoBlock > div:first-of-type {
    height: 37px;
}