.container {
    background-color: white;
    border-radius: 8px;
    max-width: 790px;
    min-width: 650px;
    height: auto;
    box-shadow: 0px 4px 24px rgba(161, 164, 184, 0.35);
}

.main {
    height: 500px;
    background-size: cover !important;
}

.main > div {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.posterBlock {
    float: left;
    width: 400px;
    height: 500px;
}

.movieInfoBlock {
    margin-left: 382px;
    height: 500px;
    color: white;
}

.posterBlock > a > div {
    position: relative;
    margin-top: 24px;
    margin-bottom: 24px;
}

.posterExternal {
    border: 1px black solid;
    margin: auto;
}

.posterBlock > a > div > img {
    position: absolute;
    left: 290px;
    top: 0px;
}

.movieTitle {
    margin: 0px;
    padding-top: 24px;
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 300;
}

.movieTitle > span {
    font-family: "Montserrat";
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
}

.movieTitle a {
    text-decoration: none;
    color: white;
}

.movieTitle a:visited {
    color: white;
}

.userRaiting {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 20px;
}

.userRaiting > span {
    font-family: "Montserrat";
    font-weight: 300;
    background-color: rgb(253, 87, 57);
    padding: 5px 17px;
    border-radius: 5px;
    margin-left: 5px;
}

.movieRaiting {
    margin-top: 32px;
}

.movieRaiting > p {
    margin: 0px;
}

.movieRaiting > p:first-of-type {
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 300;
}

.movieRaiting > p:last-of-type {
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: normal;
}

.numberUsers {
    margin-top: 32px;
    width: 210px;
}

.numberUsers:hover {
    cursor: pointer;
}

.numberUsers > p {
    margin: 0px;
}

.numberUsers > p:first-of-type {
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 300;
}

.numberUsers > p:last-of-type {
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: normal;
}

.numberUsers > img {
    float: right;
    margin-top: 11px;
}

.movieInfoBlock > .numberUsers:last-of-type {
    margin-top: 24px;
}

.commentsBlock {
    margin-top: 16px;
    height: auto;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: normal;
    color: rgb(49, 54, 60);
}

.commentsBlock span {
    font-family: "Montserrat";
    font-weight: 300;
}

.commentsBlock > p {
    padding-left: 32px;
    padding-right: 32px;
}

.commentsBlock p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.moreLikes:hover {
    cursor: pointer;
}

.showAllComments {
    color: rgb(155, 155, 155);
}

.showAllComments:hover {
    cursor: pointer;
}

.userLink {
    margin-bottom: 16px;
}

.userLink > a {
    text-decoration: none;
    color: rgb(49, 54, 60);
}

.userLink > a:visited {
    color: rgb(49, 54, 60);
}
