.container {
    margin-top: 60px;
    height: auto;
    min-width: 650px;
    max-width: 100%;
}

.loader {
    padding-top: 35px;
}

.hide {
    display: none;
}

.tabsExternal {
    max-width: 840px;
    min-width: 650px;
    margin: auto;
    margin-top: 20px;
}

/* Переопеределяем стили для табов. Текст по левому краю и ширину меняем. */
.tabsExternal > a {
    text-align: left !important;
    width: 100px !important;
}

.horizontalScrollContainerExternal {
    width: 680px;
    margin: auto;
    margin-top: 20px;
}

.scrollContainerItemExternal {
    margin-bottom: 45px;
    margin-top: 20px;
}

.tabData {
    max-width: 840px;
    min-width: 650px;
    margin: auto;
    margin-top: 20px;
}

.tabOverview {
    display: flex;
}

.movieCardSideBarInfoExternal {
    margin-top: 20px;
}

.titleComments {
    font-size: 20px;
    color: rgb(49, 54, 60);
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
}

.movieCardCommentExternal {
    width: 90% !important;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.showBlock {
    display: block;
}

.hideBlock {
    display: none;
}