.container {
    margin-top: 60px;
    height: auto;
    min-width: 650px;
    max-width: 100%;
}

.loader {
    padding-top: 35px;
}

.hide {
    display: none;
}

.tabsExternal {
    max-width: 790px;
    min-width: 650px;
    margin: auto;
    margin-top: 20px;
}