.container {
    width: 60px;
    height: 65px;
    color: white;
    text-align: center;
}

.container span {
    font-size: 24px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    margin-left: 5px;
}

.container p {
    font-size: 14px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    margin: 0px;
    margin-top: 6px;
}

.container img {
    position: relative;
    top: -2px;
}