.close {
  color: #ffffff;
  float: right;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  right: 44px;
  top: 44px;
}

.close:hover, .close:focus {
  color: #31363c;
  text-decoration: none;
  cursor: pointer;
}
