.container {
    height: 60px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
}

.centerContainer {
    position: relative;
    max-width: 790px;
    min-width: 650px;
    height: 60px;
    margin: auto;
}

.centerContainer > p {
    width: 100px;
    float: left;
    color: rgb(49, 54, 60);
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 11px;
    margin-left: 15px;
}

.icon {
    margin-top: 15px;
    float: left;
}

.icon:hover {
    cursor: pointer;
}

.buttonsWithIconsNav {
    float: right;
    height: 100%;
    width: 160px;
}

.buttonsWithIconsUl {
    list-style-type: none;
    float: right;
    width: 100%;
    text-align: right;
    margin-top: 13px;
}

.buttonsWithIconsLi {
    display: inline;
}

.buttonsWithIconsLi a {
    text-decoration: none;
    color: rgb(49, 54, 60);
}

.buttonsWithIconsLi > a > div {
    width: 90px;
    float: right;
    margin-top: 8px;
}

.buttonsWithIconsLi img {
    float: left;
}

.buttonsWithIconsLi a:visited {
    color: rgb(49, 54, 60);
}

.userAvatarExternal {
    display: inline-block;
    float: right;
    margin-left: 30px;
    margin-top: 0px !important;
    cursor: pointer;
}

.dividerLine {
    background-color: rgb(216, 216, 216);
    height: 1px;
    position: relative;
}

.buttonsNav {
    float: right;
    height: 100%;
    padding-top: 8px;
}

.buttonsUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.buttonsLi {
    float: left;
    padding-left: 24px;
}

.buttonsLi img {
    padding-top: 4px;
}

/* Dropdown Menu */

.dropdownContent {
    display: block;
    position: relative;
    background-color: #ffffff;
    z-index: 1;
}

.dropdownContent p {
    font-family: "Montserrat";
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    padding: 20px 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    display: block;
}

.dropdownContent:first-child {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.dropdownContent:last-child {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

.menuItemTitle {
    color: rgb(49, 54, 60);
}

.signOutLink {
    color: rgb(255, 86, 26);
}

.buttonsWithIconsNav ul li ul li:hover {
  background: rgb(250, 233, 227);
}

.buttonsWithIconsNav ul li ul.dropdown {
    min-width: 200px;
    display: none;
    position: absolute;
    z-index: 260;
    margin-top: 24px;
    margin-left: -13px;
    border-radius: 6px !important;
    padding-left: 0px;
    box-shadow: 0px 16px 24px 0px rgba(161, 164, 184, 0.35);
}

.buttonsWithIconsNav ul li:hover ul.dropdown{
    display: block;
}

.buttonsWithIconsNav ul li ul.dropdown li {
    display: block;
}

.searchExternal {
    float: right;
    margin-top: 6px;
    position: absolute; /* ��� ����������, ����� ���������� ������ �� ������� ���� ����� � ������*/
    left: 30%;
    z-index: 250;
}

.show {
    display: block;
}

.hide {
    display: none;
}
