.container {
    border-radius: 50%;
    overflow: hidden;
    background-size: cover !important;
}

.grayBorder {
    border: 2px solid rgb(193, 205, 222);
}

.orangeBorder {
    border: 2px solid rgb(255, 86, 26);
}

.whiteBorder {
    border: 2px solid rgb(255, 255, 255);
}