.container {
    height: 110px;
}

.userIcon {
    float: left;
    margin-left: 15px;
    height: 100%;
}

.userAvatarExternal {
    margin-top: 10px;
    margin-left: 15px;
}

.userInfo {
    font-size: 14px;
    padding-left: 24px;
    float: left;
}

.userInfo > p {
    margin: 0px;
    font-size: 18px;
    color:rgb(49, 54, 60);
    word-wrap: break-word;
}

.userInfo > p:first-child {
    font-family: "Montserrat";
    font-weight: 300;
    padding-top: 22px;
    width: 245px;
}

.userInfo > p:last-child {
    font-family: "Montserrat";
    font-weight: normal;
    padding-top: 7px;
}

.userInfo a {
    text-decoration: none;
    color:rgb(49, 54, 60);
}

.userInfo a:visited {
    color: rgb(49, 54, 60);
}

.buttonFollowExternal {
    float: right;
    margin-top: 33px;
    margin-right: 20px;
}