@charset UTF-8;

html, body {
    height: 100%;
    padding: 0pc;
    margin: 0px;
    background-color: #fafafa;
}

#content {
    height: 100%;
}

.header-external {
    position: fixed;
    top: 0;
    z-index: 1;
}

.posts-feed-external {
    margin-top: 135px;
}

.post-external {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.footer-external {
    margin-bottom: 0px;
    margin-top: 30px;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.ttf") format("truetype"),
         url("../fonts/Montserrat-Light.eot") format("eot"),
         url("../fonts/Montserrat-Light.woff") format("woff");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype"),
         url("../fonts/Montserrat-Medium.eot") format("eot"),
         url("../fonts/Montserrat-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype"),
         url("../fonts/Montserrat-Bold.eot") format("eot"),
         url("../fonts/Montserrat-Bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype"),
         url("../fonts/Montserrat-Regular.eot") format("eot"),
         url("../fonts/Montserrat-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype"),
         url("../fonts/Montserrat-SemiBold.eot") format("eot"),
         url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}
